body {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
main,
footer,
header,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

nav ul,
nav ol {
    list-style: none none;
}

img {
    border: 0;
}

/*img,*/ /*ÒòÎªÓ°Ïì½éÉÜÒ³ÃæµÄÍ¼Æ¬´óÐ¡£¬ËùÒÔ²»ÒªÁË*/
object,
video,
embed {
    height: auto;
    max-width: 100%
}

iframe {
    display: block;
    max-width: 100%;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0
}

html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size-adjust: 100%;
}

body {
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #d1d1d1;
}

b,
strong {
    font-weight: 700;
}

em,
i {
    font-style: italic
}

mark {
    background: #f0f0f0;
    color: #000;
}

small,
.small {
    font-size: 12px;
}

hr {
    border: 0;
    border-top: 1px solid #d1d1d1;
    margin-bottom: 20px;
    margin-top: 20px;
}

sub,
sup {
    font-size: 71.42857143000001%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
}

h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
}

h5 {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 20px;
}

h6 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 20px;
}

a,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    text-decoration: underline;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 25px;
}

ul > li,
ol > li {
    margin-top: 0;
    margin-bottom: 0;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-bottom: 0;
}

dl {
    margin-bottom: 20px;
    margin-top: 0;
}

dt {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}

dd {
    margin-bottom: 10px;
    margin-top: 0;
    margin-left: 0;
}

code,
kbd,
pre,
samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
    background: #f0f0f0;
    color: #111;
    padding: 2px 4px;
    font-size: 12px;
    white-space: nowrap;
}

kbd {
    background: #f0f0f0;
    color: #111;
    padding: 2px 4px;
    font-size: 12px;
}

pre {
    background: #f0f0f0;
    border: 1px solid #d1d1d1;
    color: #111;
    line-height: 1.42857143;
    margin: 0 0 10px;
    padding: 10px;
    font-size: 12px;
    display: block;
    word-wrap: break-word;
}

pre code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
    white-space: pre-wrap;
}

blockquote {
    border-left: 0 solid #d1d1d1;
    margin: 0 0 20px 40px;
    padding: 0;
    color: #333;;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
    margin-bottom: 0;
}

blockquote footer,
blockquote small,
blockquote .small {
    color: #333;
    font-size: 10px;
    display: block;
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
    content: '\2014 \00A0';
}

blockquote cite {
    font-style: normal;
}

blockquote:before,
blockquote:after {
    content: '';
}

q {
    quotes: none;
}

q:before,
q:after {
    content: '';
    content: none;
}

cite {
    font-style: normal;
}

/*¹«ÓÃ*/ /*ÉèÖÃÁËÕû¸öÍøµÄtable th td*/
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

table th,
    /*table td { padding: 10px 20px; border: solid 1px #ececec; text-align: left; vertical-align: top; }*/ /*ÒòÎªborder ÓëartdiologµÄCSS³åÍ»ÁË£¬ËùÒÔÑ¡½ûÓÃ,ÒªÍ¬É¾³ý±ðµÄÓÖÓÐÎÊÌâ*/
table td {
    padding: 10px 15px;
}

/*ÔÚ¸ö±ð ÒªÌØ±ðÉèÖÃµÄÒ³Ãæ,¿ÉÓÃpadding:0À´»¹Ô­ */
table th {
    color: #111;
    font-weight: 400;
    line-height: 20px;
    background: #fafafa;
}

table td {
    color: #222;
    line-height: 20px;
    background: #fff;
}


